# Created by .ignore support plugin (hsz.mobi)
### Vue template
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

.vuepress/dist
node_modules/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/oa-doc-out.iml
.idea/vcs.xml
